<div *ngIf="user">
  <app-sh-agent [user]="user"></app-sh-agent>
  <div nxLayout="grid">
    <nx-message class="result-message" *ngIf="showMessage" [nxContext]="requestResult">
      {{ requestMessage | translate }}
    </nx-message>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate class="c-form">  
      <app-sh-identification [typecode]="false" [code]="true" formGroupName="identificationForm"></app-sh-identification>
      <div>
        <h3 nxHeadline="subsection-small">
          {{ 'Content.Title' | translate }}
        </h3>
        <br>
        <div nxRow>
          <div nxCol="12,12,8,4">
            <nx-formfield [nxLabel]="'Content.Format.Title' | translate" formGroupName="content">
              <nx-dropdown formControlName="format">
                <nx-dropdown-item *ngFor="let format of formats" [nxValue]="format.value">{{ format.name | translate }}</nx-dropdown-item>
              </nx-dropdown>
              <nx-message nxContext="error" nxFormfieldError>
                {{ 'Required' | translate }}
              </nx-message>
            </nx-formfield>
          </div>
        </div>
      </div>
      <app-sh-interval
        formGroupName="interval"
        (dateFromChange)="onDateFromChange($event)"
        (dateToChange)="onDateToChange($event)"
        [typeDateSel]="true"
        [annuity]="true">
      </app-sh-interval>
  
      <div nxRow nxRowJustify="end">
        <button nxButton="primary" type="submit" [disabled]="form.invalid">{{ 'Accept' | translate | uppercase }}</button>
        <button nxButton="secondary" type="button" (click)="clearForm()">{{ 'Clear' | translate | uppercase }}</button>
      </div>
    </form>
  </div>  
</div>