.agent-container {
    background-color: #E6F4F6;
    padding: 15px;
    margin: 20px 0px;
    .agent-display-field {
        font-size: large;
        font-weight: 400;
    }
    .agent-field-label {
        font-weight: bold;
    }
}