/* You can add global styles to this file, and also import other style files */
.divider {
  border: 1px solid #565656;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.2;
  width: 100%;
}
.background-light {
  background: #E6F4F6;
}